Implement rules for aep-133 Standard Create method

## Requirements

The rules should verify the follow requirements in aep-132:

- The HTTP verb **must** be POST.
- The resource field **must** be included and **must** map to the POST body.
- The request message **must not** contain any other required fields 
- The request **should not** contain other optional fields except those described in this or another AEP.
- The request body **must** be the resource being created.
- The response **must** be the resource itself.
- An API **should** allow a user to specify the ID component of a resource.
- The id field **must** be a query parameter on the request.

## Details

### Alias

As with the other standard methods, we'll create an alias for CreateMethods to be used in the `given` of the individual rules. The alias should select:

- a `post` on any path
- where the final segment of the path does not contain ":"

```text
        given:
          - $.paths[?(!@path.match(/:[^/]*$/))].post
```

### Rules

#### The HTTP verb **must** be POST.

This is satisfied implicitly by the CreateOperation alias.

#### The resource field **must** be included and **must** map to the POST body.

In HTTP, the "resource field" is the path, which is always "included".

How to check that the path maps to the POST body?

#### The request message **must not** contain any other required fields

name: aep-133-request-required-params, or maybe just aep-133-required-params?

Translated to HTTP, this means 
- there **must not** be any required parameters (excepting path parameters)
  - should we allow `id` to be required?
  - should we allow `idempotency-key` to be required? AEP-155 says it **should** be optional, so perhaps just a warning if it is required?

#### The request **should not** contain other optional fields except those described in this or another AEP.

name: aep-133-unknown-optional-params

This rule should issue a warning for any parameter that is not named:
- `id` (aep-133)
- `idempotency-key` (aep-155)

We may want to restrict this rule to only consider query parameters, since HTTP defines _many_ headers that may (and in some cases must) be included in a create request, such as:
- accept, content-type, content-length
- conditional request headers: if-match, if-none-match
- telemetry headers: traceparent, tracestate

#### The request body **must** be the resource being created.

name: aep-133-http-body

Check that the request has a body param and the schema contains an `x-aep-resource` field.

#### The response **must** be the resource itself.

name: aep-133-response-schema

Check that the 200 (201?) response has a schema and that it contains an `x-aep-resource` field.

#### An API **should** allow a user to specify the ID component of a resource.

name: aep-133-id-parameter

Check that there is a parameter named `id`

#### The id field **must** be a query parameter on the request.

name: aep-133-id-param-type

Check that the parameter named `id` is a query parameter with type string.




Other possible rules:
- There must be a 201 response (possibly covered by aep-133-response-schema)
- The 201 response has a `location` response header ([RFC 9110 Section 15.3.2](https://www.rfc-editor.org/rfc/rfc9110.html#section-15.3.2))


> The resource field must be included and must map to the POST body.
> The request body must be the resource being created.

I think these would end up as the same rule, although if there is a distinction I'd be interested to know what that is. 

> How to check that the path maps to the POST body?

would we check that a path maps to a POST body? I'm not sure what that would mean - I interpret path as the HTTP path, which would never contain a post body.

> We may want to restrict this rule to only consider query parameters, since HTTP defines many headers that may (and in some cases must) be included in a create request, such as:

Yeah I tend to agree - headers are too broad, and there will be headers such as api authentication tokens. Perhaps we should adjust aep-133 itself since this *should* isn't achievable in practice.

> Check that the 200 (201?) response has a schema and that it contains an x-aep-resource field.

agreed, and yes I believe it should be 201, although I can't find where we specify it in the spec. Perhaps a follow-up issue?







